@import '../../constants/lib';

.app__footer {
    flex: 1;
    width: 100%;
    flex-direction: column;
}

.app__footer-cards {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 4rem 2rem 2rem;

    .app__footer-card {
        min-width: 290px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        margin: 1rem 0;
        padding: 1rem;
        border-radius: 10px;
        cursor: pointer;
        background-color: $raised2;

        transition: all 0.3s ease-in-out;

        img{
            width: 40px;
            height: 40px;
            margin: 0 0.7rem;
        }

        p {
            font-weight: 600;
        }

        a {
            text-decoration: none;
            font-weight: 500;
        }

        &:hover {
            box-shadow: $shadow-5;
        }

        @media screen and (max-width: 450px) {
            width: 100%;
        }
    }

    @media screen and (max-width: 768px) {
        width: 100%;
    }
}

.app__footer-cards .app__footer-card:last-child {
    background-color: $raised;
}

.app__footer-form {
    width: 60%;
    margin: 1rem 2rem;

    div {
        flex-direction: column;
        width: 100%;
        margin: 0.75rem 0;
        border-radius: 10px;
        cursor: pointer;

        background-color: $material-black;

        transition: all 0.3s ease-in-out;

        input, textarea {
            width: 100%;
            padding: 0.95rem;
            border: none;
            border-radius: 7px;
            background-color: $raised;
            margin: 1rem 0 0 0;

            font-family: var(--font-base);
            color: $amethyst;
            outline: none;
        }

        textarea {
            height: 170px;
        }
    }

    button {
        padding: 1rem 2rem;
        border-radius: 10px;
        border: none;
        background-color: $amethyst;

        font-weight: 500;
        color: $white;
        outline: none;
        margin: 2rem 0 0 0;
        font-family: var(--font-base);
        cursor: pointer;
    }

    @media screen and (max-width: 768px) {
        width: 100%;
        margin: 1rem 0;
    }
}